@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:where(.css-dev-only-do-not-override-26rdvq).ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-image: linear-gradient(to right, #004987,#009688
  );
  border-color:0;
}
.nft-para {
  background: linear-gradient(54.73deg, #004987 14.12%, #009688 81.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

}
.ant-steps-item-container {
  display:flex;
  flex-direction:column
}
:where(.css-dev-only-do-not-override-26rdvq).ant-steps .ant-steps-item-title::after {
 
  display: none;

  height: 1px;
  background: rgba(5, 5, 5, 0.06);
  content: "";
}
p {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Play', sans-serif;
}
:where(.css-dev-only-do-not-override-26rdvq).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {

  height: 46px;

}
:where(.css-dev-only-do-not-override-26rdvq).ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title,
:where(.css-dev-only-do-not-override-26rdvq).ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title 
,:where(.css-dev-only-do-not-override-26rdvq).ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title{

  color: #009688!important;
}

